#Backend
../node_modules
# Keep environment variables out of version control
/backend/.env

# dependencies
node_modules/

#IDEA
.idea

#
/store/

/backend/rework/
/backend/httpRequests/


#Frontend
# dependencies
../frontend/node_modules/

# Expo
/frontend/.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo
